# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
dist-ssr
*.local
.astro

# TypeScript build cache
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.production
.env.wmf
connect
bin/deploy.prod.sh
public/videos
public/uploads
src/pages/fr
bin/deploy.videos.sh
tmp/